<li class="message <%= message.sender == current_user ? 'sender' : 'recipient' %>">
  <div class="msgcontent"><%= message.content %></div>
  <div class="msgdatetime"><%= message.created_at %></div>
</li>
