<% if @user == current_user %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="following-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <% if @user == current_user %>
        <div class="d-flex flex-column justify-content-between">
          <%= link_to "Post", '#', data: { bs_toggle: "modal", bs_target: "#eventPostModal" }, class: "card-trip-create-comment " %>
          <br>
          <%= render 'modal_comment' %>
        <% end %>
        <br>
        <% current_user.all_favorites.each do |f| %>
          <% User.find(f.favoritable_id).comments.each do |c| %>
            <%= render 'shared/comment', comment: c %>
          <%end%>
        <% end %>
        <% current_user.lists.each do |list| %>
          <% list.events.each do |event| %>
            <% event.comments.each do |comment| %>
              <%= render 'shared/comment', comment: comment %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
