<% if @user == current_user %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="following-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <% if @user == current_user %>
        <%= link_to "Post", '#', data: { bs_toggle: "modal", bs_target: "#eventPostModal" }, class: "card-trip-create-comment" %>
        <%= render 'modal_comment' %>
      <% end %>
      <% current_user.all_favorites.each do |f| %>
        <% User.find(f.favoritable_id).comments.each do |c| %>
          <%= render 'shared/comment', comment: c %>
        <%end%>
      <% end %>
    </div>
  </div>
<% end %>
