<div class="modal fade" id="favoriteUsersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="favoriteUsersLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="favoriteUsersLabel" style="color: black">Following</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% @user.favorited_users.each do |following| %>
            <%= link_to following.name, user_path(following) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
