<div class="icons">
  <%= link_to new_list_path(@event), class: "btn btn-icon" do %>
    <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
  <% end %>
  <%= link_to events_path, class: "btn btn-icon" do %>
    <i class="fa-regular fa-calendar fa-2xl"></i>
  <% end %>
  <%= link_to events_path, class: "btn btn-icon" do %>
    <i class="fa-solid fa-camera fa-2xl"></i>
  <% end %>
  <%= link_to events_path, class: "btn btn-icon" do %>
    <i class="fa-regular fa-map fa-2xl"></i>
  <% end %>
</div>
