<div class="card">
  <%= image_tag event.img_url, class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text"><strong><%= event.name %></strong></p>
    <p class="card-text"><strong>Location: </strong><%= event.location %></p>
    <p class="card-text"><strong>Price: </strong><%= event.price %></p>
  </div>
</div>
