<div class="search m-0 d-flex align-content-center">
  <%= form_with url: events_path, method: :get, class: "search" do |f| %>
    <div class="search-bar-container">
      <%= f.text_field :q,
          class: "form-control",
          placeholder: "Tokyo...",
          value: params[:q]
      %>
    </div>

      <%= f.text_field :opening_date,
        as: :string,
        value: params[:opening_date],
        data: { controller: "datepicker"},
        placeholder: "Choose dates",
        class: "form-control"
      %>

    <div class="d-flex flex-column justify-content-center">
      <button id="combined-search-btn" class="btn btn-flat-search">Search</button>
    </div>
  <% end %>
</div>
