<div class="search">
  <%= form_with url: events_path, method: :get, class: "search" do |f| %>
    <div class="search-bar-container">
      <%= f.text_field :q,
          class: "form-control",
          placeholder: "Tokyo..."
        %>
    </div>
    <%= f.text_field :opening_date,
            as: :string,
            value: params[:opening_date],
            data: { controller: "datepicker" },
             class: "form-control" %>
    <div class="d-flex flex-column justify-content-center">
      <button id="combined-search-btn" class="btn btn-flat-search">Search</button>
    </div>
  <% end %>
</div>
