<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Other users going:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="event-buttons">
          <% @event.lists.flat_map(&:user).sort_by { |user| [user.favorited_by?(current_user) ? 0 : 1, user.name] }.each do |user| %>
            <div class="user-button">
              <%= link_to user_path(user), class: "btn event-button", style: "background-color: #5c6ac4" do %>
                <%= user.name %>
                <% if user.favorited_by?(current_user) %>
                  <%= raw('<i class="fa-solid fa-user-group fa-xl"></i>').html_safe %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
