<div class="container">



  <div flex box baby>
    <div menu button>
    </div>
    EVENT NAME
    <div ticket price>
    </div>
    <div button to go to ticket link>
    </div>
  </div>

<div>
  Location & distance in time
</div>

<div>VARIOUS ICONS AND STUFF
</div>



<div>
<h2>Event Summary</h2>
<p>EVENT DESCRIPTION</p>
</div>

<div> XXXX USERS ARE ATTENDING
</div>

<div> See who else is going
</div>

<div>
  <h2>Similar Events</h2>
</div>
THE ABOVE IS A CAROUSEL

<div>
  <h2>Location</h2>
INSERT MAP HERE
</div>








</div>
