.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar img {
  border: #fca311 1px solid;
  border-radius: 50%;
  object-fit:cover;
}

.avatar img:hover {
  box-shadow: 0 0 10px 2px #fca311;
}

i.primary {
  color:#fca311;
}

.avatar-container{
  position: relative;

  display: flex; /* Adjust the size as needed */
}

.avatar-bordered.border-dark {
  height: 150px;
  width: 150px;
object-fit: cover;
}
