.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin-bottom: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
}

.banner-text {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: relative;
  display: inline-block; /* Ensures the pseudo-element width matches the text */
}

.banner-text::after {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%; /* Set the width to match the width of the text */
  height: 2px;
  background-color: #fca311; /* Set the color to #fca311 */
  opacity: 0.8;
}
