.card-comment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: auto;
  border-radius: 5px;
  border-width: light;
  margin: 8px;
  position: relative;
  padding-right: 54px;
  align-content: center;
}


.card-trip-user.avatar-bordered{
  height: 60px;
  width: 60px;
}

.card-comment > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.card-comment-infos .gap {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Center vertically */
  align-items: center;
  align-self: stretch;
}


.card-comment h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 3px;
}

.card-comment p {
  font-size: 16px;
  opacity: .7;
  margin: 3px;
  text-decoration: none;
}

.comment-link a {
  position: relative;
  text-decoration: none;
  color: #FF914D;
}

.comment-link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f5650c;
  transition: width 0.3s;
}

.comment-link a:hover {
  color: #fca311;
}

.comment-link a:hover::before {
  width: 100%;
}


.card-comment .card-comment-infos {
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.card-comment-infos .header .upvotes {
  background-color: #FF914D;
  border-radius: 5px;
  // padding: 4px;
  margin-left: 4px;
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-comment-infos .header .upvotes .hover {
  text-decoration-color: white;
}

.card-comment .card-comment-infos .header {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}


.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.delete {
  color: orange;
}

.event-add-message {
  background-color: #FF914D;
  color: black;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  font-size: 16px;
  justify-content: center;
  margin-top: 8px ;
  margin-bottom: 8px;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2), inset 0 0 20px rgba(0,0,0,0.2);
  border: 1px solid #ff6c00;
  display: flex;
  justify-content: center;
  align-items: center;
}
