.container_events {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;

}

.banner {
  position: relative;
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.container {
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container img {
  width: calc(33.33% - 20px); /* Adjust the width and margin as needed */
  margin: 0 10px;
  border-radius: 5px;
  object-fit: cover;
  height: 200px; /* Set a fixed height or adjust as needed */
}

.subheader-container {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.sort-links {
  margin: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 17px;
  text-decoration: none;
}

.sort-links a {
  color: #FF914D;
  text-decoration: none;
  position: relative;
}

.sort-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF914D; /* Change to your desired hover color */
  transition: width 0.3s;
}

.sort-links a:hover {
  color: #FF914D;
}

.sort-links a:hover::before {
  width: 100%;
}
