.location-marker {
  display: flex;
  // justify-content: space-between;
  margin-top: 8px;
  align-items: center;
  position: absolute;
  left: 34.1%;
  top: 100%;
  margin-bottom: 48px;
  padding: 4px;
  color:black
}

.event-summary {


  padding: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.attendance {
  margin-top: 8px;

}

.similar-events {
  margin-top: 8px;
}

.btn-fill {
  width: 80%;
  align-items: center;
  padding: 4px;
  margin: 4px;
}

.icons {
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-icon {
  padding: 10px;
  /* Add padding to create space around the icon */
  border-radius: 50%;
  /* Make the button circular */
}

.ticket-lnk {
  width: auto;
  background: white;
  align-items: center;
  border: solid;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  left: 80%;
  top: 75%;
  padding: 15px;
}

.info-box{
text-align: start;
color: black;

}
