.msg-container {
  min-height: calc(100vh - 110px);
  justify-content: space-between;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.onlinetext {
  padding-left: 50px;
}

.messages {
  border: 0px;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.msgcontent {
  align-self: flex-start;
}

.msgdatetime {
 color: grey;
 font-size: 8px;
 align-self: flex-end;
}

.sender {
  text-align: left;
  background-color: rgba(255, 144, 77, 0.2);
  align-self: flex-end;
  box-shadow: 0px 0px 3px aliceblue;

}

.recipient {
  background-color: rgba(135, 130, 128, 0.2);
  box-shadow: 0px 0px 3px aliceblue;
}
textarea#content {
  flex-grow: 1;
}
