.event-buttons {
  margin-top: 10px;
}

.event-button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-button:hover {
  background-color: #0056b3;
}


.vertical-line {
  width: 0px;
  /* Use only border style */
  height: 100%;
  float: left;
  border: 1px inset;
  /* This is default border style for <hr> tag */
}

.font-numbers {
  font-size: x-large;
  text-decoration: none;
}
