.navbar-lewagon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
}

.dropdown-menu a {
  color: grey;

  &:hover{
    color:black;
    text-decoration: underline;
  }
}
