.navbar-lewagon {
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
  background-color: transparent;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
}
